provagit1/src/main/mule/provagit1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="84407d28-7ba6-41bd-9be0-47f135462e92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="provagit1Flow1" doc:id="38f483b3-95ed-4a97-a4ed-92c8ae855760" >
		<logger level="INFO" doc:name="Logger" doc:id="911e1058-8676-4316-9b5f-41f6a0d02b45" />
	</flow>
	<flow name="provagit1Flow" doc:id="f49bc889-29a5-485a-b573-459bf163b810" >
		<http:listener doc:name="Listener" doc:id="d0da70fa-b4ec-4354-be65-d1edea51d273" config-ref="HTTP_Listener_config" path="/a"/>
		<set-payload value='#["ciao"]' doc:name="Set Payload" doc:id="140dd27f-7fb9-4c05-81df-c948270de113" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="72ccf7ff-9530-49b0-a605-dc44a80ae463" />
		<logger level="INFO" doc:name="LoggerA" doc:id="5811045b-87cb-4701-8bd3-02b0765fc2cd" />
		<set-payload value='#["ciao"]' doc:name="V_Set Payload" doc:id="730612fd-dcf0-455c-b314-a724fd56b004" mimeType="application/json" />
		<set-payload value="#[payload]" doc:name="Set Payload1" doc:id="64f957c4-b3ae-43d2-b1da-3d5da82303d9" />
<<<<<<< HEAD
		<logger level="INFO" doc:name="V_Logger" doc:id="633b35d5-2e83-4ee4-a530-0e161a99cc3f" />
=======
		<choice doc:name="Choice" doc:id="70e44bea-e8ba-4857-bc08-fbcb498c62a8" >
			<when expression="1==1">
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="818d422f-79cb-4d47-bce1-49f049d9b205" />
			</when>
		</choice>
>>>>>>> branch 'main' of https://github.com/holymind84/provagitrepo/
	</flow>
</mule>
